<div>
  <h1>Netto-Lohn</h1>
  <table class="table-summary table-width-300">
    <tr>
      <th class="column-left">Veranlagungsjahr</th>
      <td>
        <span data-dojo-type="shared.widgets.Output"
              data-dojo-props="label: 'Veranlagungsjahr', model: this.rechner, bindProp: 'veranlagungsjahr'"></span>
      </td>
    </tr>
    <tr>
      <th class="column-left">Lohnzahlungszeitraum</th>
      <td>
        <span data-dojo-type="shared.widgets.Output"
              data-dojo-props="label: 'Lohnzahlungszeitraum', model: this.rechner, bindProp: 'lohnzahlzeitraumString'"></span>
      </td>
    </tr>
  </table>

  <div class="table-border">
    <table class="table-summary">
      <thead>
        <tr>
          <th></th>
          <th><abbr title="Steuerpflichtiger"><span>Stpfl.</span></abbr> 1</th>
          <th><abbr title="Steuerpflichtiger"><span>Stpfl.</span></abbr> 2</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row-result-bold">
          <th class="column-left">Steuerklasse</th>
          <td>
            <span data-dojo-type="shared.widgets.Output"
                  data-dojo-props="model: this.rechner.stPfl1, bindProp: 'steuerklasseString'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.Output"
                  data-dojo-props="model: this.rechner.stPfl2, bindProp: 'steuerklasseString'"></span>
          </td>
        </tr>
        <tr class="row-result-bold">
          <th class="column-left">Brutto-Lohn</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'bruttolohn'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'bruttolohn'"></span>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th class="column-left">Lohnsteuer</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'lohnsteuer'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'lohnsteuer'"></span>
          </td>
        </tr>
        <tr>
          <th class="column-left">Solidaritätszuschlag</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'solidaritaetszuschlag'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'solidaritaetszuschlag'"></span>
          </td>
        </tr>
        <tr>
          <th class="column-left">Kirchensteuer</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'kirchensteuer'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'kirchensteuer'"></span>
          </td>
        </tr>
        <tr class="highlight">
          <th class="column-left">ST-Summe</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'st_summe'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'st_summe'"></span>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th class="column-left">Krankenversicherung</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'krankenversicherung'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'krankenversicherung'"></span>
          </td>
        </tr>
        <tr>
          <th class="column-left">Pflegeversicherung</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'pflegeversicherung'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'pflegeversicherung'"></span>
          </td>
        </tr>
        <tr>
          <th class="column-left">Rentenversicherung</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'rentenversicherung'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'rentenversicherung'"></span>
          </td>
        </tr>
        <tr>
          <th class="column-left">Arbeitslosenversicherung</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'arbeitslosenversicherung'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'arbeitslosenversicherung'"></span>
          </td>
        </tr>
        <tr class="highlight">
          <th class="column-left">SV-Summe</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'sv_summe'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'sv_summe'"></span>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr class="row-result-bold">
          <th class="column-left">Netto-Lohn</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl1, bindProp: 'nettolohn'"></span>
          </td>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner.stPfl2, bindProp: 'nettolohn'"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <div data-dojo-type="rechner-brutto-netto.widgets.VergleichTable"
         data-dojo-props="rechner: this.rechner, config: this.config"></div>
  </div>
</div>
