<div class="table-blank-centered">
  <table>
    <thead class="table-header-narrow">
      <tr>
        <th data-dojo-attach-point="rowLabelNode" rowspan="2" class="cell-separator-right table-header-narrow column-left"></th>
        <th data-dojo-attach-point="colLabelNode" colspan="99" class="table-header-narrow cell-centered"></th>
      </tr>
      <tr data-dojo-attach-point="colHeadingsNode">

      </tr>
    </thead>
    <tbody data-dojo-attach-point="tableBodyNode">

    </tbody>
  </table>
</div>