<div>
  <div id="header" class="header">
    <div class="back-button"
         data-dojo-attach-point="backButtonNode">
      <span class="back-img"></span>
      <span class="logo calc"></span>
    </div>
    <h2 data-dojo-attach-point="titleNode"></h2>

    <div class="webcalc-settings">
      <a class="hidden ir"
         data-dojo-attach-point="settingsButtonNode">Settings</a>
    </div>

    <div data-dojo-type="shared.widgets.TopBarMenu"></div>

    <div class="home">
      <a href="http://app.datev.de"><span class="home-icon"></span></a>
    </div>
  </div>

  <div data-dojo-attach-point="stageNode"></div>
</div>
