<div>
  <div class="toggle off" id="togglewrap"
       data-dojo-attach-point="toggleWrapNode">
    <a class="toggle-trigger" id="toggle"
       data-dojo-attach-point="toggleNode"><span class="">i</span></a>
  </div>
  <ul class="invisible" id="submenu"
      data-dojo-attach-point="submenuNode">
    <li><a href="http://www.datev.de/portal/ShowPage.do?pid=dpi&amp;nal=dpi_agb_de" target="_blank">AGB</a></li>
    <li><a href="http://www.datev.de/portal/ShowPage.do?pid=dpi&amp;nal=dpi_datenschutz" target="_blank">Datenschutz</a></li>
    <li><a href="http://www.datev.de/portal/ShowPage.do?pid=dpi&amp;nal=dpi_impressum_de" target="_blank">Impressum</a></li>
    <li><a href="mailto:app@datev.de?subject=app.datev.de">Feedback</a></li>
    <li><a href="https://secure8.datev.de/pkmslogout">Abmelden</a></li>
  </ul>
</div>
