@mixin cell-left {
  text-align: left;
  padding-left: 8px;
  padding-right: 4px;
}

@mixin cell-right {
  text-align: right;
  padding-left: 4px;
  padding-right: 9px;
}

@mixin cell-centered {
  text-align: center;
}

.equal-cols table {
  table-layout: fixed;
}

table {
  width: 100%;

  .highlight,
  .highlight th,
  .highlight td {
    color: $c-grey-dark-2;
    font-weight: bold;

    & .text-normal {
      font-weight: bold; // fix .highlight in brutto-netto PageVergleich
    }
  }
}

th,
td {
  padding-top: 3px;
  padding-bottom: 3px;

  .emph & {
    color: $c-grey-dark-3;
    font-weight: normal;
  }
}

th,
.col-left {
  font-weight: normal;
  color: $c-grey-dark-3;
  @include cell-left;
}

td,
.col-right {
  @include cell-right;
}

.td-input {
  padding: 0 0 4px 4px;
}

@mixin cell-centered {
  text-align: center;
}

thead {
  th,
  td {
    height: 39px;
    color: $c-grey-dark-3;

    .table-border & {
      border-bottom: 1px solid $c-table-border-color;
    }
  }

  th {
    @include cell-right;
  }

  & + tbody > tr:first-child {
    th,
    td {
      padding-top: 9px;
      .table-border & {
        border-top: 0px solid lighten($c-table-border-color, 18%); /* weisser Schatten rausgenommen 2012-02-01 */
      }
    }
  }
}

tbody {
  tr:last-child {
    th,
    td {
      padding-bottom: 19px;
    }
  }

  &:last-child {
    tr:last-child {
      th,
      td {
        padding-bottom: 0;
      }
    }
  }

  &.detail {
    display: none;
  }
  @media only screen and (min-width: 680px) {
    &.detail {
      display: table-row-group;
    }
    &.summary {
      display: none;
    }
  }
}

.table-border {
  @include type-area(-1px);

  position: relative;
  padding-bottom: 12px;
  -webkit-background-clip: padding-box;
  @include rounded-corners($l-control-border-radius);

  &:before {
    content: "";
    display: block;
    height: $l-control-border-radius;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 0px solid lighten($c-table-border-color, 18%); /* weisser Schatten rausgenommen 2012-02-01 */
    @include rounded-corners-top($l-control-border-radius);
  }

  table {
    margin: 0;
  }
}

.table-blank-centered {
  th, td {
    &.additional-cell {
      display: none;
    }
    @media only screen and (min-width: 680px) {
      &.additional-cell {
        display: table-cell;
      }
    }
  }

  th {
    height: auto;
    display: table-cell;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  table {
    margin: 0;
  }

  tbody:last-child tr:last-child {
    th,
    td {
      padding-bottom: 3px;
    }
  }

  .column-left {
    max-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding-left: 8px;
    padding-right: 9px;

    @media only screen and (min-width: 680px) {
      text-align: left;
      width: 100px;
    }
  }
}

.table-header-narrow {
  padding-top: 8px;
  padding-bottom: 0px;
}

.cell-centered {
  text-align: center;
}

.cell-separator-right {
  border-right: 1px solid $c-grey;
}

.cell-separator-bottom {
  border-bottom: 1px solid $c-grey;
}

.cell-left-disclosure {
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
}

.table-disclosure {
  td {
    color: $c-grey-dark-2;
    padding-bottom: 0px;
    padding-top: 8px;

    &.text-normal {
      font-weight: normal;
    }

    &.highlight {
      color:$c-grey-dark-2;
    }

    @media only screen and (min-width: 680px) {
      color:$c-grey-dark-2;
    }
  }

  th {
    padding-bottom: 0px;
    padding-top: 0px;
    height: 39px;

    &.text-normal {
      font-weight: normal;
    }

    &.highlight {
      color:$c-grey-dark-2;
    }
  }


  .text-left  {
    text-align: left;
    @include cell-left;
  }
}

.inline-table-disclosure {
  tbody td, tbody th {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  th, td {
    &.additional-cell {
      display: none;
    }

    @media only screen and (min-width: 680px) {
      &.additional-cell {
        display: table-cell;
      }
    }
  }
}

/* Table Head left-aligned text */
th.cell-left {
  @include cell-left;
}

.special-table {
  color: $c-grey-dark-1;
  padding-bottom: 8px;

  tr:last-child {
    th, td {
      padding-bottom: 8px;
    }
  }

  thead {
    th, td {
      height: auto;
      padding-top: 8px;
    }
  }

  tfoot {
    th, td {
      border-top: 1px solid $c-table-border-color;
      font-weight: normal;
      padding-bottom: 0px;
      padding-top: 8px;
      height: auto;
    }

    tr:last-child {
      th, td {
        padding-bottom: 0px;
        height: auto;
      }
    }
  }
}

.divide-table td {
  padding-left: 8px;
}

.cell-1 {
  width: 185px;
  padding-left: 8px;
}

.cell-2 {
  width: 40px;
}

.seperator-cell {
  border-top: 1px solid #3c3c3c;
}

.vertical-cell {
  vertical-align: middle;
  padding-top: 20px;
  padding-left: 8px;
}
