<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Netto-Lohn</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/shared/css/datev-mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <script src="{{ url_for('static', filename='scripts/shared/config.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/dojotoolkit/dojo/dojo.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/rechner-brutto-netto/index-web.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/jquery-2.1.4.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}" defer></script>
    <script>
      var user_id = '{{ user_id }}';
    </script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
  </head>
  <body class="bg-detail has-top-nav-bar">

    <!-- calculator will be inserted here -->

    <footer class="footer">
      <!--Logout button-->
      <p class="pull-left">
         <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
      </p>

      <!--Save and load result buttons-->
      <p class="pull-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#saveFileModal">Save result</button>
        <button class="btn btn-primary" id="loadresult">Load result</button>
      </p>
    </footer>


    <!--Modal for saving a file-->
    <div class="modal fade" id="saveFileModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Specify a filename</h4>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" placeholder="Filename e.g. calculator" id="filename">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveresult">Save result</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </body>

</html>
