.cb-wrapper {
  input[type=checkbox],
  input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  input[type=checkbox] + span,
  input[type=radio] + span {
    background-image: url(images/DATEV-symbols.png);
	background-repeat: no-repeat;
	background-position: -200px -1px;
    display: block;
    height: 29px;
    width: 29px;
    @media all and (-webkit-min-device-pixel-ratio: 2) {
    @include sprite-size;
	@include sprite-retina-symbols;
    }
  }

  input[type=checkbox]:checked + span,
  input[type=radio]:checked + span {
    background-image: url(images/DATEV-symbols.png);
	background-repeat: no-repeat;
	background-position: -150px -1px;
	@media all and (-webkit-min-device-pixel-ratio: 2) {
    @include sprite-size;
	@include sprite-retina-symbols;
    }
  }

  > span {
    position: absolute;
    right: 8px;
    top: $l-type-area-h;
  }
}


