.tabs {
  @include control;
  @include rounded-corners($l-control-border-radius);
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  color: $c-tab-highlight;

  .tab {
    display: table-cell;
    vertical-align: middle;
    border-width: 1px 1px 1px 0px;
    border-color: $c-tab-highlight;
    border-style: solid;

    cursor: pointer;

    &,
    & a {
      color: $c-tab-highlight;
      text-decoration: none;
    }

    &:first-child {
      @include rounded-corners-left($l-control-border-radius);
      border-width: 1px;

      &.selected {
        border-width: 1px;
        padding-left: 0;
      }
    }

    &:last-child {
      @include rounded-corners-right($l-control-border-radius);
      border-width: 1px 1px 1px 0;

      &.selected {
        border-width: 1px;
      }
    }

    &.selected {
      border-width: 1px;
      border-color: $c-tab-highlight;
      border-style: solid;
      background-color: $c-tab-highlight;
      cursor: auto;

      &, & a {
        color: #fff;
      }
    }
  }

  .tab.selected + .tab {
    padding-left: 1px;
    border-width: 1px 1px 1px 0;
    &:last-child {
        border-right-width: 1px;
      }
  }

  .tab-label {
    display: block;
    padding: 0 5px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
