<div>
  <ul class="grouped-list">
    <li class="item-simple">
      <label class="item-wrapper">
        <span class="item-label">Faktor bei Steuerkl. IV</span>
        <span class="supplemental">
          <span data-dojo-type="shared.widgets.NumberInput"
                data-dojo-props="places: 3, model: this.rechner, bindProp: 'faktor'"
                data-dojo-attach-event="onchange: onChange"></span>
        </span>
      </label>
    </li>
  </ul>

  <div data-dojo-type="shared.widgets.TabContainer"
       data-dojo-attach-point="tabContainer"
       data-dojo-props="urlParam: 'tabIndex'">
    <div data-tab-title="Steuerpflichtiger 1"
         data-tab-id="tab-stpfl-1"
         data-tab-selected="true">
      <div data-dojo-attach-point="stPfl1Settings"
           data-dojo-type="rechner-brutto-netto.widgets.StPflSettings"
           data-dojo-props="rechner: this.rechner.stPfl1, config: this.config"
           data-dojo-attach-event="onchange: onChange"></div>
    </div>

    <div data-tab-title="Steuerpflichtiger 2"
         data-tab-id="tab-stpfl-2">
      <div data-dojo-attach-point="stPfl2Settings"
           data-dojo-type="rechner-brutto-netto.widgets.StPflSettings"
           data-dojo-props="rechner: this.rechner.stPfl2, config: this.config"
           data-dojo-attach-event="onchange: onChange"></div>
    </div>
  </div>
</div>
