<div>
  <div data-dojo-type="rechner-brutto-netto.widgets.InputMain"
       data-dojo-props="rechner: this.rechner, config: this.config"
       data-dojo-attach-event="onchange: onChange"></div>

  <div class="type-area margin-bottom-4">
    <div class="button button--action bordered wide invisible-small"
         data-dojo-type="shared.widgets.Link"
         data-dojo-props="targetDocument: 'details.html',
                          targetPage: 'PageDetails'">
      <span class="button-label">ST- und SV-Details</span>
    </div>
  </div>

  <div class="type-area">
    <div class="button button--action bordered wide"
         data-dojo-type="shared.widgets.Link"
         data-dojo-props="targetDocument: 'vergleich.html',
                          targetPage: 'PageVergleich'">
      <span class="button-label">Steuerklassen-Vergleich</span>
    </div>
  </div>
</div>
