<div>
  <div class="table-border">
    <table>
      <thead>
        <tr>
          <th class="col-left">Kombination</th>
          <th>Summe aller Steuern</th>
        </tr>
      </thead>
      <tbody>
        <tr data-dojo-attach-point="row_3_5">
          <th class="text-normal">III-V</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner, bindProp: 'skv_drei_fuenf'"></span>
          </td>
        </tr>
        <tr data-dojo-attach-point="row_5_3">
          <th class="text-normal">V-III</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner, bindProp: 'skv_fuenf_drei'"></span>
          </td>
        </tr>
        <tr data-dojo-attach-point="row_4_4">
          <th class="text-normal">IV-IV</th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner, bindProp: 'skv_vier_vier'"></span>
          </td>
        </tr>
        <tr data-dojo-attach-point="row_4_4_faktor">
          <th class="text-normal">
            IV-IV F=
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 3, model: this.rechner, bindProp: 'skv_faktor'"></span></th>
          <td>
            <span data-dojo-type="shared.widgets.NumberOutput"
                  data-dojo-props="places: 2, model: this.rechner, bindProp: 'skv_vier_vier_faktor'"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="type-area">
    <h4 class="heading-4">Die Kombination der Steuerklassen
      <span data-dojo-attach-point="vorteilMessageNode"></span>
      ist für Sie vorteilhaft.</h4>
  </div>
</div>
