
// Farben
$c-grey-light-1: #b4b4b4;
$c-grey-light-2: #f5f5f5;
$c-grey: #939393;
$c-grey-dark-1: #6e6e6e;
$c-grey-dark-2: #3c3c3c;
$c-grey-dark-3: #7b7b7b;

$c-border-disabled: #c8c8c8;
$c-background-disabled: #e6e6e6;

$c-petrol: #039a9a;
$c-green: #4fd24f;

$c-table-border-color: #c8c8c8;

$c-input-border-color: #c8c8c8;
$c-input-bg-color: #fff;

$c-button-border-color: #aaa;
$c-button-reset-border-color: #9e9c9b;
$c-button-important-border-color: #9e9c9b;

$c-list-border-color: #c8c8c8;
$c-list-selected-bg: #c2e58f;

$c-tab-highlight: #5eb226;


// Längen und Abstände
$l-control-height: 30px;
$l-list-item-height: 42px;
$l-control-border-radius: 6px;
$l-type-area-h: 8px;

$l-button-bordered-border-radius: 4px;
$l-button-bordered-height: 29px;

// Größe Retina
$l-retina: 60px;
