
@import "config";
@import "mixins";
@import "tables";

// --- Start Korrekturen Tables für E-Mail-Export
.table-blank-centered {
  th, td {
    &.additional-cell {
      display: table-cell;
    }
  }
  .column-left {
    width: auto;
  }
}

.inline-table-disclosure {
  th, td {
    &.additional-cell {
      display: table-cell;
    }
  }
}
// --- Ende Korrekturen Tables für E-Mail-Export

// --- Start Korrekturen ExpandableContainer für E-Mail-Export
.head-expandable-element .table-disclosure {
  margin-bottom: 0;
}

.container-expandable-element {
  margin-bottom: 35px;
}
// --- Ende Korrekturen ExpandableContainer für E-Mail-Export


body {
  font-family: sans-serif;
  font-size: 17px;
  color: $c-grey-dark-2;
}

h1 {
  margin-bottom: 15px;
  font-size: 100%;
}

.hidden {
  display: none;
}

.emph {
  font-weight: bold;
}

.column-left,
.text-left {
  text-align: left;
}

.column-right {
  text-align: right;
}

.table-summary {
  tr.row-padding-15 {
    th, td {
      padding-bottom: 15px;
    }
  }
  tr.row-result {
    color: $c-petrol;
  }
  tr.row-result-bold {
    th, td {
      font-weight: bold;
    }
  }

  .column-left {
    font-weight: normal;
  }

  &.number-align-right td {
    text-align: right;
  }
}

.table-width-300 {
  width: 300px;
}

.table-disclosure {
  margin-bottom: 35px;
  color: $c-petrol;

  th {
    font-weight: normal;
  }
}

table,
.table-blank-centered {
  tr {
    height: 1.5em;
  }

  td {
    padding-left: 0.5em;

    td {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .cell-separator-bottom {
    text-align: right;
  }
}

.highlight, #highlight {
  color: $c-petrol;
}

.type-area {
  margin-left: 10px;

  h4 {
    font-weight: normal;
    font-size: 17px;
  }
}
